.khan {
    background-color: #f2f2f2;
}
.khan__container {
    width: 80%;
    margin: 0 auto 0;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
    margin: 0;
}

.khan__qoute {
    width: 790px;
    margin: 50px 0 36px 0;
    left: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.khan__qoute-author {
    margin: 0 0 10px 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
}

.khan__qoute-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.khan__book-container {
    margin: 68px 0 0 0;
    display: flex;
}

.book-pic {
    height: 620px;
    width: 608px;
    object-fit: cover;
    object-position: top;
}

.buy-link {
    margin: 0 0 0 48px;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
}