.feynman {
    min-height: 890px;
    z-index: 0;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
.feynman__title {
    margin: 100px auto 0;
    width: 648px;
    font-size: 120px;
    line-height: 1.15;
    font-weight: 600;
    z-index: 2;
    justify-content: center;
    text-align: center;
}
  
.feynman__subtitle {
    margin-top: 70px;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    z-index: 2;
}
  
.feynman__link {
    right: 48px;
    top: 50%;
    position: absolute;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    z-index: 1;
    color: #2f80ed;
    text-decoration: none;
}
  
.feynman__pic {
    height: 637px;
    width: 867px;
    z-index: 1;
    left: 0;
    bottom: 0;
    position: absolute;
}
  